= simple_form_for @profile, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Profile
    = f.input :username
    = f.input :email
  %fieldset
    %legend
      User Information
    = f.input :firstname
    = f.input :surname
    = f.input :job_role
    = f.input :website
    = f.input :twitter
    = f.input :github

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', profiles_path, :class => 'btn'