.row-fluid
  %section.profile
    %header.profile-header
      %img.profile-avatar{:src => @profile.gravatar_url}
      %span.profile-name
        %h2
          = @profile.firstname
    %ul.summary-info{:class => "clearfix"}
      - if @profile.website.present?
        %li.summary-info-item
          %strong website: 
          = link_to @profile.website, "http://#{@profile.website}"
      - if @profile.twitter.present?
        %li.summary-info-item
          %strong twitter: 
          = link_to @profile.twitter, "http://twitter.com/#{@profile.twitter}"
      - if @profile.github.present?
        %li.summary-info-item
          %strong github: 
          = link_to @profile.github, "http://github.com/#{@profile.github}"
