- content_for :body_classes do 
  individual-profile-page

.row-fluid
  %section.profile
    %header.profile-header
      %img.profile-avatar{:src => @profile.gravatar_url}
      %span.profile-name
        %h2
          = "#{@profile.firstname} #{@profile.surname}"
        %span.job-role
          = @profile.job_role
    %ul.social-icons
      - if @profile.github.present?
        %li.github
          = link_to "github", "http://github.com/#{@profile.github}"
      - if @profile.website.present?
        %li.website
          = link_to "website", "http://#{@profile.website}"
      - if @profile.twitter.present?
        %li.twitter
          = link_to "twitter", "http://twitter.com/#{@profile.twitter}"
    